{{define "localTop"}}
        <section id="local">
            <div class="row">
                <div class="columns">
                    <small><span id="server-status" style="display: none;"></span></small>
                    <h1 style="width:100%;">节点版本 <small>v1.0</small>
                        <!--<small style="float:right;">Git Build: {{.GitBuild}}</small> -->
                    </h1>
                    <!-- <small onclick="nextNode()"><a>Next Node</a></small>, <small>Current:<span id="current-node-number">0</span></small> -->
                </div>
            </div>
            <div class="row">
                <div class="large-3 medium-4 small-12 columns">
                    <div class="metric">
                        <label for="nodeHeight">节点高度:</label>
                        <input type="text" id="nodeHeight" name="nodeHeight" disabled="true" value="-">
                    </div>
                    <div class="metric">
                        <label for="syncFirst">节点同步状态 (第一次同步):</label>
                        <div id="syncFirst" class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="100 percent" aria-valuemax="100">
                            <span class="progress-meter" style="width: 100%">
                                <p id="testing" class="progress-meter-text"> 已同步 100% (0 of 0)</p>
                            </span>

                        </div>
                    </div>
                    <div class="metric">
                        <label for="syncSecond">节点同步状态 (第二次同步):</label>
                        <div id="syncSecond" class="progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="84 percent" aria-valuemax="100">
                            <span class="progress-meter" style="width: 84%">
                                <p class="progress-meter-text"> 已同步 100% (0 of 0)</p>
                            </span>
                        </div>
                    </div>
                    <div class="metric">
                        <div class="row">
                            <div class="small-6 columns">
                                <label for="serverfedcount">联邦节点数</label>
                                <input type="text" id="serverfedcount" name="serverfedcount" disabled="true" value="-">
                            </div>
                            <div class="small-6 columns">
                                <label for="serveraudcount">审计节点数</label>
                                <input type="text" id="serveraudcount" name="" disabled="true" value="-">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="large-8 medium-7 small-12 columns">
                    <div class="metric">
                        <label for="peerList"><span id="totalPeerCount"></span> 个链接:</label>
                        <table id="peerList">
                            <thead>
                                <tr>
                                    <th id="peer-ip">IP <img width="10" class="sorting-img hide" id="peer-ip-sort-img" /></th>
                                    <th>状态</th>
                                    <th></th>
                                    <th id="peer-duration">时长 <img width="10" class="sorting-img hide" id="peer-duration-sort-img" /></th>
                                    <!--<th>Duration</th>
                                    <th id="peer-sent">Sent <img width="10" class="sorting-img hide" id="peer-sent-sort-img" /></th>
                                    <th id="peer-received">Received <img width="10" class="sorting-img hide" id="peer-received-sort-img" /></th>-->
                                    <!--<th>Actions</th>-->
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <!--<tfoot>
                                <tr>
                                    <td>MSGS(DATA)</td>
                                    <td></td>
                                    <td id="peerquality"></td>
                                    <td></td>
                                    <td id="up">0 (0 MB)</td>
                                    <td id="down">0 (0 MB)</td>
                                    <td></td>
                                </tr>
                            </tfoot>-->
                        </table>
                    </div>
                </div>
            </div>
        </section>
{{end}}