{{define "chainhead"}}
	{{template "header"}}
	<!-- Body -->
	 <section id="explorer">
        <div class="row">
            <div class="columns">
            {{range $i, $ele := .}}
    			{{$k := eq $i 0}}
    			{{if $k}}
    				<small>链头: <a id="factom-search-link" type="eblock">{{$ele.Content.Head}}</a></small>
        			 <h1>
						 子链 <small>ID:({{$ele.Input}})</small>
						 <span style="float:right"> {{$ele.Content.Length}} 条记录</span></h1>
        		{{else}}
        		 <table id="search-table">
                	<tbody>
                		<tr>
                			<td>记录哈希:</td>
                			<td><a id="factom-search-link" type="entry">{{$ele.Input}}</a></td>
                		</tr>
                		<!--<tr>
                			<td>External IDs:</td>
                			<td>
								<ul>
							    {{ range $ID := $ele.Content.ExtIDs }}
							        <li id="entry-external-id">{{$ID}}</li> 
							    {{ end }}
							</ul>
                			</td>
                		</tr>-->
                		<tr>
  							<td>内容:</td>
                            <td>
                                <span id="entry-content-summary">摘要信息: <a><small>详情</small></a>
                                <br /> - 字节: {{$ele.Content.ContentLength}}
                                <br /> - 内容哈希: {{$ele.Content.ContentHash}}
                                <!--<br /> - EC Cost : {{$ele.Content.ECCost}}-->
                                </span>   
                                <span id="entry-content-body" style="display:none;">详细内容: <a><small>隐藏</small></a>
                                <br /> - 字节: {{$ele.Content.ContentLength}}
                                <br /> - 内容哈希: {{$ele.Content.ContentHash}}
                                <!--<br /> - EC Cost : {{$ele.Content.ECCost}}-->
                                <hr>
                                {{$ele.Content.Content}}
                                </span>
                            </td>
                		</tr>
                	</tbody>
                </table>
        		{{end}}
            {{end}} 
           </div>
		</div>
	</section>
	<!-- End Body -->
	{{template "scripts"}}
    {{template "tools"}}
	{{template "footer"}}
{{end}}