{{define "dblock"}}
	{{template "header"}}
	<!-- Body -->
	 <section id="explorer">
        <div class="row">
            <div class="columns"> 
                <h1>目录块</h1>
                <table>
                    <tbody>
                        <tr>
                            <td>梅克尔树哈希:</td>
                            <td>{{.KeyMR}}</td>
                        </tr>
                        <tr>
                            <td>内容梅克尔树哈希:</td>
                            <td>{{.Header.BodyMR}}</td>
                        </tr>
                        <tr>
                            <td>哈希值:</td>
                            <td>{{.FullHash}}</td>
                        </tr>
                        <tr>
                            <td>时间戳:</td>
                            <td>{{.Header.FormatedTimeStamp}}</td>
                        </tr>
                        <tr>
                            <td>块高度:</td>
                            <td>{{.Header.DBHeight}}</td>
                        </tr>
                        <tr>
                            <td>前一个目录块:</td>
                            <td>
                                前一个梅克尔树哈希 :   <a id="factom-search-link" type="dblock">{{.Header.PrevKeyMR}}</a><br />
                                前一个哈希值 :   {{.Header.PrevFullHash}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h3>目录块信息</h3>
                <table id="search-table">
                	<tbody>
                		<tr>
                			<td>类型:</td>
                			<td>管理块</td>
                		</tr>
                		<tr>
                			<td>梅克尔树哈希:</td>
                			<td><a id="factom-search-link" type="ablock">{{.AdminBlock.KeyMr}}</a></td>
                		</tr>
                	</tbody>
                </table>
                <!--<table id="search-table">
                    <tbody>
                        <tr>
                            <td>Type:</td>
                            <td>Entry Credit Block</td>
                        </tr>
                        <tr>
                            <td>KeyMr:</td>
                            <td><a id="" type="ecblock">{{.EntryCreditBlock.KeyMr}}</a></td>
                        </tr>
                    </tbody>
                </table>
                <table id="search-table">
                    <tbody>
                        <tr>
                            <td>Type:</td>
                            <td>Factoid Block</td>
                        </tr>
                        <tr>
                            <td>KeyMr:</td>
                            <td><a id="" type="fblock">{{.FactoidBlock.KeyMr}}</a></td>
                        </tr>
                    </tbody>
                </table>-->
                {{range $i, $ele := .EBlocks}}
        		 <table id="search-table">
                	<tbody>
                		<tr>
                			<td>类型:</td>
                			<td>记录块</td>
                		</tr>
                		<tr>
                			<td>梅克尔树哈希:</td>
                			<td><a id="factom-search-link" type="eblock">{{$ele.KeyMR}}</a></td>
                		</tr>
                		 <tr>
                			<td>哈希值:</td>
                			<td>{{$ele.FullHash}}</td>
                		</tr>
                		 <tr>
                			<td>链标识:</td>
                			<td><a id="factom-search-link" type="chainhead">{{$ele.Header.ChainID}}</a></td>
                		</tr>
                		<tr>
                			<td>总记录:</td>
                			<td>{{$ele.Header.EntryCount}}</td>
                		</tr>
                	</tbody>
                </table>
        		{{end}}
           </div>
		</div>
	</section>
	<!-- End Body -->
	{{template "scripts"}}
    {{template "tools"}}
	{{template "footer"}}
{{end}}