{{define "entry"}}
	{{template "header"}}
	<!-- Body -->
	<section id="explorer">
		<div class="row">
			<div class="columns">
				<h1>记录数据</h1>
				<table>
					<tbody id="search-table">
						<tr>
							<td>记录哈希:</td>
							<td>{{.Hash}}</td>
						</tr>
						<tr>
							<td>链标识</td>
							<td><a id="factom-search-link" type="chainhead">{{.ChainID}}</a></td>
						</tr>
						<tr>
							<td>外部标识:</td>
							<td>
								<ul>
								    {{ range $ID := .ExtIDs }}
								        <li id="entry-external-id">{{$ID}}</li> 
								    {{ end }}
								</ul>
							</td>
						</tr>
						<tr>
							<td>内容:<br /></td>
							<td>
                                <span id="entry-content-summary">摘要信息: <a><small>详情</small></a>
                                <br /> - 字节: {{.ContentLength}}
                                <br /> - 内容哈希: {{.ContentHash}}
                                <!--<br /> - EC Cost : {{.ECCost}}-->
                                </span>   
                                <span id="entry-content-body" style="display:none;">详细内容:&emsp;&emsp;&emsp;&emsp; <a><small>摘要</small></a>
                                <br /> - 字节: {{.ContentLength}}
                                <br /> - 内容哈希: {{.ContentHash}}
                                <!--<br /> - EC Cost : {{.ECCost}}-->
                                <hr>
                                {{.Content}}
                                </span>
							</td>
						</tr>
                        <tr>
                            <td>锚点:<br /></td>
                            <td>
                                - 事务哈希 : <a id="factom-anchor-link" type="anchor">{{.TransactionHash}}</a>
								<br/>- 块哈希 : {{.BlockHash}}
                            </td>
                        </tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
	<!-- End Body -->
	{{template "scripts"}}
	{{template "tools"}}
	{{template "footer"}}
{{end}}